.form button {
    background-color: var(--cor-da-fonte);
    border: .2rem solid var(--cor-da-borda); /* 3.2px */
    border-radius: .8rem; /* 12.8rem */
    color: var(--cor-da-borda);
    text-align: center;
    height: 3.125rem; /* 50px */
    width: 10.25rem; /* 164px */
}

.form button:hover {
    background-color: var(--cor-do-botao-clicado2);
    color: var(--cor-da-fonte);
    cursor: pointer;
}
